name: stripe_example
description: Demonstrates how to use the stripe plugin.
version: 1.0.0
publish_to: 'none'

environment:
  sdk: ">=2.17.0 <4.0.0"
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_stripe: ^9.2.1
  flutter_stripe_web: ^4.1.1
  stripe_checkout: ^1.0.1
  pay: ^1.1.0
  http: ^0.13.1
  font_awesome_flutter: ^9.2.0
  platform: ^3.0.0


dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  test: any
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

  assets:
    - assets/
  fonts:
    - family: OtomanopeeOne
      fonts:
        - asset: fonts/OtomanopeeOne.ttf
