.DS_Store
.dart_tool/

.packages
.pub/

.env.dart
build/
/.idea/
/stripe_android/android/.gradle/

.flutter-plugins
.flutter-plugins-dependencies
melos_stripe.iml

**/.fvm/
**/.idea/

Podfile
Podfile.lock
Pods/
.symlinks/
**/Flutter/App.framework/
**/Flutter/ephemeral/
**/Flutter/Flutter.framework/
**/Flutter/Generated.xcconfig
**/Flutter/flutter_assets/

ServiceDefinitions.json
xcuserdata/
**/DerivedData/

local.properties
keystore.properties
.gradle/
gradlew
gradlew.bat
gradle-wrapper.jar
.flutter-plugins-dependencies
*.iml

generated_plugin_registrant.dart
GeneratedPluginRegistrant.h
GeneratedPluginRegistrant.m
GeneratedPluginRegistrant.java
GeneratedPluginRegistrant.swift
generated_plugin_registrant.*
generated_plugins.cmake
build/
.flutter-plugins

.project
.classpath
.settings
/.fvm

.melos_tool/
**/*.env

lcov.info

**/pubspec.lock
**/server/package-lock.json
