name: flutter_stripe_web
description: Stripe sdk for Flutter web
version: 0.0.1
homepage: https://github.com/flutter-stripe/flutter_stripe

environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: ">=2.0.0"
  

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  freezed_annotation: ^1.0.0
  stripe_platform_interface: ^2.0.2
  js: ^0.6.3
    

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      web:
        pluginClass: WebStripe
        fileName: flutter_stripe_web.dart

