# Stripe API keys - see https://stripe.com/docs/development/quickstart#api-keys
STRIPE_PUBLISHABLE_KEY=pk_test_51Jq148KukcQuF86SXMBELJT0uM2ucKnDNoCwRYm6C6NIxbibIRnr1rEcgVBtFc4r8wEDSFxdDAwUEoouJjE8WDQ800MAwjbQZu
STRIPE_SECRET_KEY=sk_test_51Jq148KukcQuF86SQCJNxXZyRtLoSgoYGtya5sjGXQdXeK2kSl3Jn8xjGRzF0ToG7kU7cnFcCI7kVaQHIJwqvjDV00Smy3TkxN

# Required to run webhook
# See README on how to use the Stripe CLI to setup
# Ignore when running `without-webhooks` samples
STRIPE_WEBHOOK_SECRET=whsec_