name: all_plugins

on:
  push:
    branches: [master]
    paths-ignore:
      - "docs/**"
      - "website/**"
      - "**.md"
  pull_request:
    branches: ['**']
    paths-ignore:
      - "docs/**"
      - "website/**"
      - "**.md"
jobs:
  analyze:
    name: analyze
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
        with:
          channel: 'stable'

      - name: "Install Tools"
        run: |
          ./.github/workflows/scripts/install-tools.sh
      
      - name: "Bootstrap Workspace"
        run: melos bootstrap
        
      - name: "Get dependencies"
        run: melos run get

      - name: "Run Analyze"
        run: melos run analyze
     
      - name: "Pub Check"
        run: |
          melos exec -c 1 --no-private --ignore="*example*"  -- \
            pub publish --dry-run

  test:
    name: test
    timeout-minutes: 15
    runs-on: ubuntu-latest
    # TODO (albertus-stripe): Remove if:false once we have some tests on stripe and stripe_platform_interface package
    if: false
    steps:
    - uses: actions/checkout@v2
    - uses: subosito/flutter-action@v1
      with:
        channel: 'stable'

    - name: "Install Tools"
      run: |
        ./.github/workflows/scripts/install-tools.sh
    
    - name: "Bootstrap Workspace"
      run: melos bootstrap
      
    - name: "Get dependencies"
      run: melos run get
    
    - name: "Run test"
      run: melos run test