name: all_plugins

on:
  push:
    branches: [master]
    paths-ignore:
      - "docs/**"
      - "website/**"
      - "**.md"
  pull_request:
    branches: ['**']
    paths-ignore:
      - "docs/**"
      - "website/**"
      - "**.md"

# TODO (albertus-stripe): Change the steps of each job once the melos PR is merged
# Reference: https://github.com/FirebaseExtended/flutterfire/blob/master/.github/workflows/all_plugins.yaml
jobs:
  analyze:
    name: analyze
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
        with:
          channel: 'stable'

      - name: "Setup and install dependencies"
        run: ./scripts/update-packages

      - name: "Run analyze on stripe"
        run: cd stripe && flutter analyze && cd ..

      - name: "Run analyze on stripe_android"
        run: cd stripe_android && flutter analyze && cd ..

      - name: "Run analyze on stripe_ios"
        run: cd stripe_ios && flutter analyze && cd ..

      - name: "Run analyze on stripe_platform_interface"
        run: cd stripe_platform_interface && flutter analyze && cd ..

  test:
    name: test
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v2
    - uses: subosito/flutter-action@v1
      with:
        channel: 'stable'

    - name: "Setup and install dependencies"
      run: ./scripts/update-packages

    - name: "Run test on stripe"
      run: cd stripe && flutter test && cd ..

    - name: "Run test on stripe_android"
      run: cd stripe_android && flutter test && cd ..

    - name: "Run test on stripe_ios"
      run: cd stripe_ios && flutter test && cd ..

    - name: "Run test on stripe_platform_interface"
      run: cd stripe_platform_interface && flutter test && cd ..