name: all_plugins

on:
  push:
    branches: [master]
    paths-ignore:
      - "docs/**"
      - "website/**"
      - "**.md"
  pull_request:
    branches: ['**']
    paths-ignore:
      - "docs/**"
      - "website/**"
      - "**.md"
jobs:
  analyze:
    name: analyze
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
        with:
          channel: 'stable'

      - name: "Install Tools"
        run: |
          ./.github/workflows/scripts/install-tools.sh
      
      - name: "Bootstrap Workspace"
        run: melos bootstrap
      
      - name: "Set env keys"
        env: 
          STRIPE_PUBLISHABLE_KEY: ${{ secrets.STRIPE_PUBLISHABLE_KEY }}
        run: |
          ./.github/workflows/scripts/env-files.sh

      - name: "Run Analyze"
        run: melos run analyze
     
      - name: "Pub Check"
        run: |
          melos exec -c 1 --no-private --ignore="*example*"  -- \
            flutter pub publish --dry-run

  test:
    name: test
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: subosito/flutter-action@v1
      with:
        channel: 'stable'

    - name: "Install Tools"
      run: |
        ./.github/workflows/scripts/install-tools.sh
    
    - name: "Bootstrap Workspace"
      run: melos bootstrap
      
    - name: "Set env keys"
      env: 
        STRIPE_PUBLISHABLE_KEY: ${{ secrets.STRIPE_PUBLISHABLE_KEY }}
      run: |
        ./.github/workflows/scripts/env-files.sh

    - name: "Run unittest"
      run: melos run unittest